[submodule "src/libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "elfutils"]
	path = elfutils
	url = https://sourceware.org/git/elfutils.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
