[package]
name = "libbpf-sys"
version = "1.0.1+v1.0.0"
description = "Rust bindings to libbpf from the Linux kernel"
readme = "README.md"
repository = "https://github.com/libbpf/libbpf-sys"
homepage = "https://github.com/libbpf/libbpf-sys"
keywords = ["bpf", "ebpf", "xdp"]
authors = [
	"Alex Forster <alex@alexforster.com>",
	"Dan Siemon <dan@coverfire.com>",
	"Daniel Xu <dxu@dxuuu.xyz>",
]
license = "BSD-2-Clause"
edition = "2018"
build = "build.rs"
links = "libbpf"

[badges]
travis-ci = { repository = "libbpf/libbpf-sys" }
maintenance = { status = "passively-maintained" }

[build-dependencies]
bindgen = { version = "^0.60", optional = true }
cc = "^1.0"
pkg-config = "0.3"

[lib]
crate-type = ["lib", "staticlib"]

[features]
novendor = []
static = []
